
<div class="allcontain">
	<div class="header" style="text-align: right; padding-right: 20px">			
			<ul class="logreg">
				<li><a href="admin.html">Home</a> </li>		
			</ul>
	</div>
	
</div>


<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain" >
	<div id="carousel-up" class="carousel slide" data-ride="carousel" style="height: 135px">
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
					<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle"  >
				<div class="searchtxt">
					<h1>SEARCH TEXT</h1>
				</div>				
 				
 				<ul class="nav navbar-nav navbarborder">
					<li class="li-category">
						<a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Research Areas<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd">
							<li><a href="#">Machine Learning</a></li>
							<li><a href="#">Quantum Physics</a></li>
							<li><a href="#">Ecnonomic</a></li>
						</ul>
					</li>
					<li class="li-minyear"><a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Department <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd2">
							<li><a href="#">Computer Science</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Electrical and Computer Engineering</a></li>
						</ul>
					</li>
					<li class="li-maxyear"><a class="btn dropdown-toggle btn-costume"  id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">School <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd3">
							<li><a href=>UCSB</a></li>
							<li><a href="#">Stanford</a></li>
							<li><a href="#">UC Berkeley</a></li>
						</ul>
					</li>
					<form class="navbar-form navbar-left searchformmargin" role="search">
						<div class="form-group">
							<input type="text" class="form-control searchform" placeholder="Input Here">
						</div>
					</form>				
					<!-- <li class="li-search"> <button class="searchbutton"><span class="glyphicon glyphicon-search "></span></button></li> -->
					<a href="add_professor.html" class="button button-highlight button-pill button-large" style="margin-left: 10px;">+ Add New Professor</a>
				</ul>

			</div>
		</nav>
	</div>
</div>


<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span><span class="carstxt">Professors</span>&bullet;</h1>
	</div>

	<!-- <div>
		<p><%= link_to 'Create new professor profile', new_professor_path %></p>
	</div> -->
	<div class="feturedimage">
		<div class = "row firstrow">
			<% @professors.each do |professor| %>
			<div class="col-lg-6 costumcol colborder2">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
							<img src= 'image/car1.jpg'> alt="porsche1">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1><%= professor.name %></h1>
								<p><%= professor.school %><br>
				 					<%= professor.department %><br>
				 					Description: abgklabjbgajd jahdjgkh jahdjfkhjk jkhjakld hajfkd jhafjdkh jhalfjdkh jhj kjhj jkhadfjk kjjhjk jhj jhhj hahdf klj hkjh akhdkfj 
				 					</p>
				 				<!-- <p><%= link_to 'View', professor %> <%= link_to 'Edit', edit_professor_path(professor) %></p> -->
				 				
				 				<a href="edit.html" class="button button-rounded button-tiny" style="margin-left: 80px; margin-bottom: 20px; background-color: ">View</a>	
				 				<a href="edit.html" class="button button-rounded button-tiny" style="float:right; margin-right: 80px">Edit</a>				 				
							</div>
						</div>
					</div>
			</div>
			<div class="col-lg-6 costumcol colborder2">
					<div class="row costumrow">
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
							<img src= 'image/car1.jpg'> alt="porsche1">
						</div>
						<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
							<div class="featurecontant">
								<h1><%= professor.name %></h1>
								<p><%= professor.school %><br>
				 					<%= professor.department %><br>
				 					Phone: 12435465<br>					 					
				 					</p>
				 				<a href="edit.html" class="button button-rounded button-tiny" style="margin-left: 80px; margin-bottom: 20px; background-color: ">View</a>	
				 				<a href="edit.html" class="button button-rounded button-tiny" style="float:right; margin-right: 80px">Edit</a>	
							</div>
						</div>
					</div>
			</div>
			<% end %>
		</div>
	</div>

<!-- ________________________LATEST CARS SECTION _______________________-->
	<!-- <div class="latestcars">
		<h1 class="text-center">&bullet; LATEST   CARS &bullet;</h1>
		<ul class="nav nav-tabs navbar-left latest-navleft">
			<li role="presentation" class="li-sortby"><span class="sortby">SORT BY: </span></li>
			<li data-filter=".RECENT" role="presentation"><a href="#mostrecent" class="prcBtnR">MOST RECENT </a></li>
			<li data-filter=".POPULAR" role="presentation"><a href="#mostpopular" class="prcBtnR">MOST POPULAR </a></li>
			<li  role="presentation"><a href="#" class="alphSort">ALPHABETICAL </a></li>
			<li data-filter=".HPRICE" role="presentation"><a href="#" class="prcBtnH">HIGHEST PRICE </a></li>
			<li data-filter=".LPRICE" role="presentation"><a href="#" class="prcBtnL">LOWEST  PRICE </a></li>
			<li id="hideonmobile">
		</ul>
	</div>
 -->
	<br>
	<br>

	<div class="bottommenu">
		<<!-- div class="bottomlogo">
		<span class="dotlogo">&bullet;</span><img src="image/collectionlogo1.png" alt="logo1"><span class="dotlogo">&bullet;;</span>
		</div> -->
				 
			<div class="footer">
				<div class="copyright">
				  &copy; Copy right 2016 | <a href="#">Privacy </a>| <a href="#">Policy</a>
				</div>
				<div class="atisda">
					 Designed by <a href="#">Web Domus Italia - Web Agency </a> More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a> - Collect from <a href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a></div>
			</div>
	</div>
</div>
