
<div class="allcontain">
	<div class="header" style="text-align: right; padding-right: 20px">			
			<ul class="logreg">
				<li><a href="admin.html">Home</a> </li>		
			</ul>
	</div>
	
</div>


<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain" >
	<div id="carousel-up" class="carousel slide" data-ride="carousel" style="height: 130px">
		<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
					<h1>SEARCH TEXT</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle"  >
				<div class="searchtxt">
					<h1>SEARCH TEXT</h1>
				</div>				
 				
 				<ul class="nav navbar-nav navbarborder">
					<li class="li-category">
						<a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Research Areas<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd">
							<li><a href="#">Machine Learning</a></li>
							<li><a href="#">Quantum Physics</a></li>
							<li><a href="#">Ecnonomic</a></li>
						</ul>
					</li>
					<li class="li-minyear"><a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Department <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd2">
							<li><a href="#">Computer Science</a></li>
							<li><a href="#">History</a></li>
							<li><a href="#">Electrical and Computer Engineering</a></li>
						</ul>
					</li>
					<li class="li-maxyear"><a class="btn dropdown-toggle btn-costume"  id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">School <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd3">
							<li><a href=>UCSB</a></li>
							<li><a href="#">Stanford</a></li>
							<li><a href="#">UC Berkeley</a></li>
						</ul>
					</li>
					<form class="navbar-form navbar-left searchformmargin" role="search">
						<div class="form-group">
							<%= form_tag(root_path, :method => "get", id: "search-form", class: "form-control searchform") do %>
    						<%= text_field_tag :search, params[:search], placeholder: "Search Professors", class: "form-control searchform" %>
    						<%= submit_tag "Search", :name => nil, class: 'btn btn-warning btn-lg' %>
    						
    						<% end %>
						</div>
					</form>	
					
				</ul>

				<a href="/professor/new" class="btn btn-warning btn-lg button-pill " style="float: right; margin-right: 100px">+ Add New Professor</a>
			</div>
		</nav> 
	</div>
</div>


<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	<div class="feturedimage">
			<% @professors.each do |professor| %>
		<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<img src=<%= professor.picture %> alt="porsche1">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1><%= professor.name %></h1>
							<p><%= professor.school %><br>
				 			<%= professor.department %><br>
							Phone: 12435465<br>								
				 			</p>
                            <p>Research Areas :</p>
                            <% professor.research_areas.each do|research_area| %>
                                <p><%= research_area.area %></p>
                            <% end %>
			 				<p><%= link_to 'View', professor %> <%= link_to 'Edit', edit_professor_path(professor) %></p>
			 				<button ><%= link_to 'READ MORE', professor %></button>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	<div class="latestcars">
	<ul class="nav nav-tabs navbar-left latest-navleft">
	</ul>
	
	

