<!-- Header -->
<div class="allcontain">
	<div class="header" style="text-align: right; padding-right: 20px">			
			<ul class="logreg">
				<li><a href="/login">Login </a> </li>
				<li><a href="/students/new"><span class="register">Register</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="/">HOME</a> </li>
				<li class="dropdown">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
					<ul class="dropdown-menu dropdowncostume">
						<li><a href="#">Sport</a></li>
						<li><a href="#">Old</a></li>
						<li><a href="#">New</a></li>
					</ul>
				</li>
				<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEALERS <span class="caret"></span></a>
						<ul class="dropdown-menu dropdowncostume">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="3">3</a></li>
						</ul>
				</li>
				<li>
					<a href="/recommendations">My Recommendations</a>
 
				</li>
				<button><span class="postnewcar">POST NEW CAR</span></button>
			</ul>
		</div>
	</nav>
</div>

 <!-- Header -->
 <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Welcome To Match.edu!</div>
          <div class="intro-heading text-uppercase">It's Nice To Meet You</div>
          <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="#services" style="font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-weight: 700; font-size: 18px; padding: 15px 35px; background-color: #fed136; border-color: #fed136; background-color: #fec810 !important;border-color: #fec810 !important; color: white; box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;">Tell Me More</a>

          <form class="navbar-form navbar-left searchformmargin" role="search">
						<div class="form-group">
							<%= form_tag(root_path, :method => "get", id: "search-form", class: "form-control searchform") do %>
    						<%= text_field_tag :search, params[:search], placeholder: "Search Professors", class: "form-control searchform" %>
    						<%= submit_tag "Search", :name => nil, class: 'btn btn-warning btn-lg' %>
    						<% end %>
						</div>
					</form>
        </div>
      </div>
</header>

<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span>Popular<span class="carstxt">Professors</span>&bullet;</h1>
	</div>
	<div class="feturedimage">
			<% @professors[0..9].each do |professor| %>
		<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<img src=<%= professor.picture %> alt="porsche1">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1><%= professor.name %></h1>
							<p><%= professor.school %><br>
				 			Department of <%= professor.department %><br>				
				 			</p>
			 				<p><%= link_to 'View', professor %> <%= link_to 'Edit', edit_professor_path(professor) %></p>
			 				<button ><%= link_to 'READ MORE', professor %></button>
						</div>
					</div>
				</div>
			</div>
		<% end %>
		</div>
	</div>
	<div class="latestcars">
	<ul class="nav nav-tabs navbar-left latest-navleft">
	</ul>

	

