<h1><%= @professor.name %></h1>
<p><%= link_to 'Home', root_path %></p>
<div>
	<p>Details</p>
	<p><%= @professor.email %></p>
	<img src='<%= @professor.picture %>'>
	<p><%= @professor.phone %></p>
	<p><%= @professor.school %></p>
	<p><%= @professor.department %></p>
</div>