<h1><%= @student.name %></h1>
<p><%= link_to 'Home', root_path %></p>
<div>
	<p>Details</p>
	<p><%= @student.email %></p>
	<img src='<%= @student.picture %>'>
	<p><%= @student.phone %></p>
	<p><%= @student.school %></p>
	<p><%= @student.department %></p>
</div>