<!-- Header -->
<div class="allcontain">
  <div class="header" style="text-align: right; padding-right: 20px">     
      <ul class="logreg">
        <li><a href="login.html">Login </a> </li>
        <li><a href="signup.html"><span class="register">Register</span></a></li>
      </ul>
  </div>
  <!-- Navbar Up -->
  <nav class="topnavbar navbar-default topnav">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
          <span class="sr-only"> Toggle navigaion</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <!-- <a class="navbar-brand logo" href="#"><img src="image/logo1.png" alt="logo"></a> -->
      </div>   
    </div>
    <div class="collapse navbar-collapse" id="upmenu">
      <ul class="nav navbar-nav" id="navbarontop">
        <li class="active"><a href="index.html">HOME</a> </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
          <ul class="dropdown-menu dropdowncostume">
            <li><a href="#">Sport</a></li>
            <li><a href="#">Old</a></li>
            <li><a href="#">New</a></li>
          </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">DEALERS <span class="caret"></span></a>
            <ul class="dropdown-menu dropdowncostume">
              <li><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="3">3</a></li>
            </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CONTACT </a>
        </li>
        <button><span class="postnewcar">POST NEW CAR</span></button>
      </ul>
    </div>
  </nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
  <div id="carousel-up" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner " role="listbox">
      <div class="item active head_image1">       
        <div class="carousel-caption">
          <h2>Porsche 356</h2>
          <p>Lorem ipsum dolor sit amet, consectetur ,<br>
            sed do eiusmod tempor incididunt ut labore </p>
        </div>
      </div>
      <div class="item head_image2">
        <div class="carousel-caption">
          <h2>Porche</h2>
            <p>Lorem ipsum dolor sit amet, consectetur ,<br>
            sed do eiusmod tempor incididunt ut labore </p>
        </div>
      </div>
      <div class="item head_image3">      
        <div class="carousel-caption">
          <h2>Car</h2>
          <p>Lorem ipsum dolor sit amet, consectetur ,<br>
            sed do eiusmod tempor incididunt ut labore </p>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-default midle-nav">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
            <h1>SEARCH TEXT</h1>
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
    
    </nav>
  </div>
</div>

<div>
  <!--contact-->
  <div class="contact">
    <div class="container">
      <%= form_for(@student) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_field :name, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :researcharea %>
          <%= f.text_field :researcharea, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, "Confirmation" %>
          <%= f.password_field :password_confirmation, class: "form-control"  %>
        </div>
        <%= f.submit "Create my account", class: "btn btn-default" %>    
      <% end %>             

    </div>
  </div>
  <!--contact-->
</div>

<div class="footer">
  <div class="copyright">
    &copy; Copy right 2017 | <a href="#">Privacy </a>| <a href="#">Policy</a>
  </div>
  <div class="atisda">
     Designed by <a href="#">Mu Xu </a></div>
</div>
