<!-- Header -->
<div class="allcontain">
	<div class="header" style="text-align: right; padding-right: 20px">			
			<ul class="logreg">
				<li><a>Hi, <%= @student.name %></a> </li>
				<li><a href="/students/new"><span class="register">Log out</span></a></li>
			</ul>
	</div>
	<!-- Navbar Up -->
	<nav class="topnavbar navbar-default topnav">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed toggle-costume" data-toggle="collapse" data-target="#upmenu" aria-expanded="false">
					<span class="sr-only"> Toggle navigaion</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>	 
		</div>
		<div class="collapse navbar-collapse" id="upmenu">
			<ul class="nav navbar-nav" id="navbarontop">
				<li class="active"><a href="">HOME</a> </li>
				<!-- <li class="dropdown">
					<a href="#" class="dropdown-toggle"	data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">CATEGORIES <span class="caret"></span></a>
					<ul class="dropdown-menu dropdowncostume">
						<li><a href="#">Sport</a></li>
						<li><a href="#">Old</a></li>
						<li><a href="#">New</a></li>
					</ul>
				</li> -->
				<li><%= link_to 'My Profile', edit_student_path(@student) %></li>
				<li><a href="#">My Recommendations</a></li>
				<li><a href="">My Requests</a></li>
				<li><a href="">My Acceptances</a></li>
				<!-- <button><span class="postnewcar">POST NEW CAR</span></button> -->
			</ul>
		</div>
	</nav>
</div>
<!--_______________________________________ Carousel__________________________________ -->
<div class="allcontain">
	<div id="carousel-up" class="carousel slide" data-ride="carousel">
		<div class="carousel-inner " role="listbox">
			<div class="item active head_image1">	
				<div class="carousel-caption">
					<h2>Match.edu</h2>
					<p>Help you find your ideal professor</p>
				</div>
			</div>
			<div class="item head_image2" >
				<div class="carousel-caption">
					<h2>Search Tool</h2>
						<p>Searching by research areas and other filter ,<br>
						finding the right professor never gets easier </p>
				</div>
			</div>
			<div class="item head_image3">
				<div class="carousel-caption">
					<h2>Recommend System</h2>
					<p>Tailored to each student's need, <br>
						find the most fitted professor</p>
				</div>
			</div>
		</div>
        	<nav class="navbar navbar-default midle-nav">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed textcostume" data-toggle="collapse" data-target="#navbarmidle" aria-expanded="false">
						<h1>Search By</h1>
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="navbarmidle">
				<div class="searchtxt">
					<h1>Search Now</h1>
				</div>
				<ul class="nav navbar-nav navbarborder">
					<li class="li-category">
						<a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Research Area<span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd">
							<% @research_areas.each do |research_area| %>
								<li><a href="#"><%= research_area.area%></a>
								</li>
							<% end %>	
						</ul>
					</li>
					<li class="li-minyear"><a class="btn  dropdown-toggle btn-costume"  id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Department <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd2">
							<li><a href="#">1</a></li>
							<li><a href="#">2</a></li>
							<li><a href="#">3</a></li>
						</ul>
					</li>
					<li class="li-maxyear"><a class="btn dropdown-toggle btn-costume"  id="dropdownMenu3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">University <span class="glyphicon glyphicon-chevron-down downicon"></span></a>
						<ul class="dropdown-menu" id="mydd3">
							<li><a href="#">1900</a></li>
							<li><a href="#">2000</a></li>
							<li><a href="#">2016</a></li>
						</ul>
					</li>
					<form class="navbar-form navbar-lef searchformmargin" role="search">
						<div class="form-group">
							<%= form_tag(root_path, :method => "get", id: "search-form", class: "form-control searchform") do %>
    						<%= text_field_tag :search, params[:search], placeholder: "Search Professors", class: "form-control searchform" %>
    						<%= submit_tag "Search", :name => nil, class: 'btn btn-warning btn-lg' %>
    						<% end %>
						</div>
					</form>
				</ul>
 
			</div>
		</nav>
	</div>
</div>

<!-- ____________________Featured Section ______________________________--> 
<div class="allcontain">
	

	<div class="feturedsection">
		<h1 class="text-center"><span class="bdots">&bullet;</span>Recommended<span class="carstxt">Professors</span>&bullet;</h1>
	</div>
	<div class="feturedimage">
			<% @recommend[0..9].each do |professor| %>
				<div class="col-lg-6 costumcol colborder2">
				<div class="row costumrow">
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 img2colon">
						<img src=<%= professor.picture %> alt="porsche1">
					</div>
					<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 txt1colon ">
						<div class="featurecontant">
							<h1><%= professor.name %></h1>
							<p><%= professor.school %><br>
				 			Department of <%= professor.department %><br>				
				 			</p>
                            <% professor.research_areas.each do|research_area| %>
                                <p><%= research_area.area %></p>
                            <% end %>
			 				
			 				<% obj = professor.professor_student_matches.find_by student_id: @student.id %>
							<%= form_tag(students_interest_path, method: "post", style: "display:inline") do %>
							<%= hidden_field_tag(:professor_id, professor.id) %>
							<%= hidden_field_tag(:student_id, @student.id) %>
							<% if obj and obj.match %>
							<p class= 'btn btn-success' style= 'margin-top: 30px; margin-bottom: 30px; margin-left: 50px'>Accepted</p>

							<% elsif obj and !obj.match %>
							<p class= 'btn btn-primary' style= 'margin-top: 30px; margin-bottom: 30px; margin-left: 50px'>Awaiting</p>
				
							<% else %>							
							<%= submit_tag "Interested", class: 'btn btn-info', style: 'margin-top: 30px; margin-bottom: 30px; margin-left: 50px'%>

							<% end %>


							<%= link_to 'Read More', professor, class: 'btn btn-warning', style: 'float: right; margin-top: 30px; margin-bottom: 30px; margin-right: 50px' %>
							

						<% end %>
						</div>
					</div>
				</div>
				</div>
			<% end %>
	</div>
</div>


<div class="latestcars">
	<ul class="nav nav-tabs navbar-left latest-navleft">
	</ul>
	


