<!DOCTYPE html>
<html>
  <head>
    <title>MatchEduWebApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
	<title>MATCH.EDU</title>
	<meta name="description" content="Scarica gratis il nostro Template HTML/CSS GARAGE. Se avete bisogno di un design per il vostro sito web GARAGE può fare per voi. Web Domus Italia">
	<meta name="author" content="Web Domus Italia">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<%= stylesheet_link_tag    'bootstrap', media: 'all', 'data-turbolinks-track': 'reload' %>
	<link rel="stylesheet" type="text/css" href="/source/font-awesome-4.5.0/css/font-awesome.css">
	<link rel="stylesheet" type="text/css" href="/style/slider.css">
	<link rel="stylesheet" type="text/css" href="/style/mystyle.css">

  </head>

  <body>
    
    <%= form_tag(root_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Professors" %>
    <%= submit_tag "Search", :name => nil %>
    <% end %>
    
    <%= yield %>
	<script type="text/javascript" src="/source/bootstrap-3.3.6-dist/js/jquery.js"></script>
	<script type="text/javascript" src="/source/js/isotope.js"></script>
	<script type="text/javascript" src="/source/js/myscript.js"></script> 
	<script type="text/javascript" src="/source/bootstrap-3.3.6-dist/js/jquery.1.11.js"></script>
	<script type="text/javascript" src="/source/bootstrap-3.3.6-dist/js/bootstrap.js"></script>
</body>
</html>
